:root {
    --link-text-blue: #2f80ed;
    --modal-button-blue: #2d9cdb;
  
    --skyscraper-blue: #2a87e9;
    --goldenrod: #f8cd05;
    --spellingbee-yellow: #f8cd05;
    --kenken-beige: #ffecd7;
    --wordmaze-cyan: #008b8b;
    --cascade-purple: #b383e4;
    --cascade-purple-light: #d4d0d8;
    --wordmorph-red: #f14e62;
    --geometro-blue: #1ca0ff;
    --bubble-up-teal: #55c1c1;
    --square-dance-green: #82ce92;
    --square-dance-peach: #f8aa9e;
    --word-cross-black: #2a3131;
    --battleships-blue: #cef6ff;
    --tiles-indigo: #054499;
    --jigsaw-brown: #bab1a7;
    --gravity-golf-green: #5e8154;
    --birds-blue: #8f608a;
    --plant-life-orange: #ce751d;
    --order-of-operations-orange: #ffb500;
    --operations-orange: #ffb500;
    --chess-puzzles-green: #29a789;
    --connections-periwinkle: #b3a7ff;
    --ring-ring-raspberry: #dd4d63;
  }
  